@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-workato-navy: #0D0F2B;
    --color-workato-navy-light: #1A1D3E;
    --color-workato-coral: #FF5F36;
    --color-workato-coral-dark: #E54E27;
    --color-workato-teal: #00BCD4;
}
